# Python
__pycache__/
.test_tmp/
*.py[cod]
*$py.class
venv/
.venv/

# PyInstaller build output
build/
dist/

# Environment variables
.env

# Project specific sensitive data
backups/
.data/
data/

# Editor
.vscode/
